body {
    background-color: #202124;
}

/* The old way of doig horizontal layout
li{
    display: inline-block;
}
*/

/*The new way of doing horizontal layout*/
html{
    font-family: sans-serif;
}
a{
    color: white;
    text-decoration: none;
}


ul{
    color:rgb(255, 255, 255) ;
    display: flex;
    flex-direction: row; /*by default, display: flex firection row*/
    list-style-type: none;
    gap: 16px;
}
header{
    display: flex;
    justify-content: space-between;
}
button{
    padding: .5rem 1rem;
    background-color:#303134; 
    border-radius: 4px;
    color:#e8eaed;
    cursor: pointer;
    border: 1px solid #303134;
}