body {
    background-color: #4f5158;
}

/* The old way of doig horizontal layout
li{
    display: inline-block;
}
*/

/*The new way of doing horizontal layout*/
html{
    font-family: sans-serif;
}
a{
    color: white;
    text-decoration: none;
}


ul{
    color:rgb(255, 255, 255) ;
    display: flex;
    flex-direction: row; /*by default, display: flex firection row*/
    list-style-type: none;
    gap: 16px;
}
header{
    display: flex;
    justify-content: space-between;
}